img {
  max-width: 100%;
}

p {
  max-width: 28ch;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.card {
  padding: 0.8rem 0;
  margin: 2rem auto;
  max-width: 75rem;
  border-radius: 15px;
  color: black;
  display: flex;
  text-align: left;
  border-bottom: 1px solid black;
  box-shadow: 1px 5px 8px black;
}

.card h2 {
  text-align: center;
}

.card img {
  max-width: 20rem;
}

.discounted_price {
  color: chartreuse;
}

.result-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 75rem;
  margin-top: 2rem;
}

.cart_item,
.cart_item_quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart_item_image {
  max-width: 5rem;
}

.product_description {
  margin-left: 3rem;
}

.product_details {
  display: inherit;
  flex-direction: row;
  background-color: aqua;
}

.product_details_description {
}
