.page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  background-color: pink;
}

.br {
  border-bottom: 1px solid black;
  max-width: 100%;
}

@media (min-width: 900px) {
  .cartPage-wrapper {
    flex-direction: column;
  }
}
