footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: yellow;
}

@media (min-width: 900px) {
  footer {
    align-items: center;
    flex-direction: column;
  }
}
